BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4

# Method chaining settings
PenaltyIndentedWhitespace: 2

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
PointerAlignment: Left

# Function parameter wrapping settings
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

# Constructor initializer settings
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
PackConstructorInitializers: Never
